main {
  text-align: center;
  margin: auto;
  
  padding: 1rem;
  max-width: 85ch;
  
  font-size: 22px;
  line-height: 1.5;
}

  /* Header Font*/
h1, h2 {
  font-family: 'Orbitron', Helvetica, sans-serif sans-serif;
}
  /*Paragraph and List Font*/
p, li {
  font-family: 'IBM Plex Serif', 'Times New Roman', Times, serif;
}

  /*List Bullet Point Style*/
ul {
  list-style: circle;
}

/*Link Attributes*/
a {
  color: blue;

  text-decoration: none;
}

/*Link hovering*/
a:hover {
  background-color: #00d200;
}

  /*Random Image*/
.random {
  float: right;
  display: block;

  padding: 1rem;
  border-radius: 50%;
}

